params {
    kraken2_db="$VSAT_DB/kraken2-viral"
    kaiju_fmi="$VSAT_DB/kaiju-viruses/kaiju_db_viruses.fmi"
    kaiju_nodes="$VSAT_DB/kaiju-viruses/nodes.dmp"
    kaiju_names="$VSAT_DB/kaiju-viruses/names.dmp"

    threads=12

    kraken2_confidence_threshold=0.1
    kaiju_confidence_threshold=0.05
    kaiju_mode='greedy'
}

process {
    withName:kraken2_pair {
        container = 'staphb/kraken2:latest'
    }

    withName:kraken2_single {
        container = 'staphb/kraken2:latest'
    }

    withName:kraken2krona {
        container = 'skkujin/krakentools:v1.2'
    }

    withName:kreport2list {
        container = 'skkujin/convert_krakenrep2list:latest'
    }

    withName:metacomp {
        container = 'skkujin/metacomp:latest'
    }
    
    withName:kaiju_pair {
        container = 'nanozoo/kaiju:latest'
    }

    withName:kaiju_single {
        container = 'nanozoo/kaiju:latest'
    }

    withName:kaiju2krona {
        container = 'nanozoo/kaiju:latest'
    }
    
    withName:krona {
        container = 'nanozoo/krona:latest'
    }
}

docker {
    enabled = true
}