params {
    threads=12

    blast_db_dir="$VSAT_DB/blast/refseq-viral"
    blast_db_name="refseq-viral"
    diamond_db_dir="$VSAT_DB/diamond"
    diamond_db_name="rvdb-prot"

    min_evalue='1.0e-5'
}

process {
    withName:blastn {
        container = 'ncbi/blast:latest'
    }

    withName:megablast {
        container = 'ncbi/blast:latest'
    }

    withName:diamond {
        container = 'bschiffthaler/diamond:latest'
    }
}

docker {
    enabled = true
}