params {
    ref = null
    file_ref = null
}

process {
    withName:map_pair {
        container = 'nanozoo/minimap2:2.22--b178b67'
    }
    
    withName:map_single {
        container = 'nanozoo/minimap2:2.22--b178b67'
    }

    withName:bamcov {
        container = 'skkujin/bamcov:latest'
    }

    withName:qualimap {
        container = 'stjudecloud/qualimap:1.0.3'
    }
}

docker {
    enabled = true
}